[View in Colaboratory](https://colab.research.google.com/github/rahulrajpl/ML_Snippets/blob/master/Intro_to_Pandas_Library.ipynb)

In [48]:
import pandas as pd
pd.__version__

names = pd.Series(['rahul', 'raj', 'parvathy'])
rolls = pd.Series([1,2,3])

df = pd.DataFrame({'names':names, 'rolls':rolls})

# To know interesting statistics of the particular csv file data
# df = pd.read_csv("https://storage.googleapis.com/mledu-datasets/california_housing_train.csv", sep=',')
# df.describe()

# To know the first few records of the DataFrame
# df.head()

# Graphing of the DataFrame using hist() function
# df.hist("households")

# Accessing the DataFrame elements is same as method used for Dictionaries/Lists
# print(df['names'])
# df['rolls']
# print(df['names'][1])

# Applying pythons basics arithmetics to Series
# rolls * 3

# Numpy is popular scientific library of python. Pandas dataFrames can be argument to numpy functions
# rolls * 3
# import numpy as np
# np.log(rolls)

# Pandas Series.apply() function also can be used for any custom functions implemented using lambda expression in python
# print(df['rolls'])
# rolls.apply(lambda x: x*2)

# Adding new Series to DataFrames
df['age'] = pd.Series([29,30,25])
df

# Adding boolean value Series to DataFrame is the age is more than 28
df['AgeOver'] = (df['age'].apply(lambda x: x > 28))

# Reindexeing the pandas data set. Reindexing is a great way to randomise the dataset.
# df['names'].reindex([2,0,1])

# Numpy's random.permutation function can be used to randomise the dataset.
import numpy as np
df.reindex(np.random.permutation(df['rolls'].index))

      names  rolls  age  AgeOver
2  parvathy      3   25    False
1       raj      2   30     True
0     rahul      1   29     True